
Inference/__pycache__/inference_functions.cpython-310.pyc
Inference/mlff_inference_test.ipynb
Inference/oxides.ipynb
Inference/oxides.ipynb
Inference/mlff_inference_test.ipynb
Inference/oxides.ipynb
Training/MACE_models/LLZO_run-123_epoch-0.pt
Training/MACE_models/LLZO_run-123_epoch-2.pt
Training/MACE_models/LLZO_run-123_epoch-6.pt
Training/MACE_models/LLZO_run-123_epoch-18_swa.pt
Training/MACE_models/LLZO_run-123_epoch-92_swa.pt
Training/MACE_models/LLZO_run-123_epoch-96_swa.pt
Training/MACE_models/LLZO_run-123_epoch-228.pt
Training/MACE_models/LLZO_run-123_epoch-318.pt
Training/MACE_models/LLZO_run-123_epoch-432.pt
Training/MACE_models/LLZO_run-123_epoch-488.pt
Training/MACE_models/LLZO_run-123_epoch-490.pt
Training/MACE_models/LLZO_run-123_epoch-642.pt
Training/MACE_models/LLZO_run-123_epoch-894.pt
Training/MACE_models/LLZO_run-123_epoch-924.pt
Training/MACE_models/LLZO_run-123_epoch-970.pt
Training/MACE_models/LLZO_run-123_epoch-1082.pt
Training/MACE_models/LLZO_run-123_epoch-1094.pt
Training/MACE_models/LLZO_run-123_epoch-1376_swa.pt
Training/MACE_models/LLZO_run-123_epoch-1396_swa.pt
Training/MACE_models/LLZO_run-123_epoch-1432_swa.pt
Training/MACE_models/LLZO_run-123_epoch-1472_swa.pt
Training/MACE_models/LLZO_run-123_epoch-1482_swa.pt
Training/MACE_models/LLZO_run-123_swa.model
Training/MACE_models/LLZO_run-123.log
Training/MACE_models/LLZO_run-123.model
Training/MACE_models/LLZO_swa.model
Training/MACE_models/LLZO.model
Training/results/LLZO_run-123_train.txt
Untitled.ipynb
Training/mace_test.xyz
Training/mace_train.xyz
Training/train_slurm
Training/mace_config.yaml
Training/energy_errors.csv
Inference/__pycache__/inference_functions.cpython-312.pyc
Training/config.yaml
Untitled.ipynb
stepsize.p
