
Inference/__pycache__/inference_functions.cpython-310.pyc
Inference/mlff_inference_test.ipynb
Inference/oxides.ipynb
Inference/oxides.ipynb
Inference/mlff_inference_test.ipynb
Inference/oxides.ipynb
